<style>
/* 공통부품 css */
/* 1000x1000px 크기를 기준 차후에 모바일, 테블릿, PC용 css를 나눌예정*/
@media screen and (max-width : 1000px), screen and (max-height : 1000px){
	.footer {
		display 		: none;
		
	}
}

.bodyDiv {
	height			: 900px;
}

.mainBodyDiv {
	height			: 1025px;
}
/* 상단 메뉴 */
.topDiv {
	height			: 50px;
}

/* 로고 */
.topConponent {
	font-weight		: bold;
	padding-bottom		: 10px;
}
.topLogo {
	display			: inline-block;
	float			: left;
	vertical-align		: middle;
}
/* 로그인 */
.topLogin {
	display			: inline-block;
	border			: 0px;
	background-color		: #fde6ff;
	font-size			: 20px;
	color			: #FFFFFF;
	float			: right;
	vertical-align		: middle;
	margin-right		: 10px;
	padding-left		: 3px;
	padding-right		: 3px;
	padding-bottom		: 2px;
	padding-bottom		: 2px;
}

/* 둥근 버튼 설정 레이아웃 */
.roundBtn {
	border-radius		: 5px;
	border-top-left-radiu	: 5px;
	border-top-right-radius	: 5px;
	border-bottom-left-radius	: 5px;
	border-bottom-right-radius	: 5px;
}

/* 세로 메뉴바 */
.verticalMenuDiv {
	width			: 350px;
	height			: 795px;
	background-color		: #fef77b;
	padding-top		: 35px;
	padding-left		: 15px;
	float			: left;
}

/* 가로메뉴바 */
.horaizontalMenuDiv {
	height			: 50px;
	background-color		: #4c84b9;
	text-align			: center;
	font-weight		: bold;
	color			: #FFFFFF;
}
/* 메뉴바 스타일 - 가로 */ 
.horizonMenu {
	border			: 1px solid #4c84b9;
	background-color		: #4c84b9;
	float			: left;
	margin-left		: 15px;
	width			: 100px;
	height			: 30px;
	padding-top		: 15px;
}
/* 메뉴바 스타일 - 세로 */
.verticalMenu {
	width			: 310px;
	height			: 50px;
	padding-top		: 20px;
	margin-top		: 1px;
	border			: 5px solid #6f0c4f; 
	background-color		: #4c84b9;
	text-align			: center;
	font-size			: 25px;
	font-weight		: bold;
	color			: #FFFFFF;
}
/* 숨김, 숨김해제  */
.exposeMenu {
	display			: block;
}

.hideMenu {
	display			: none;
}
</style>